@font-face {
    font-family: 'Fairfax';
    src: url('FairfaxItalic.eot');
    src: url('FairfaxItalic.eot?#iefix') format('embedded-opentype'),
        url('FairfaxItalic.woff2') format('woff2'),
        url('FairfaxItalic.woff') format('woff'),
        url('FairfaxItalic.ttf') format('truetype'),
        url('FairfaxItalic.svg#FairfaxItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

